/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #2A2A29;
    font-family: "Hahmlet", serif;
    color: #E6E7DF;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 4.0rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 3.6rem;
}

h5 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
}

main section,footer {
    padding: 0 100px;
}

main section h3 {
    border-bottom: 1px solid #E6E7DF;
}

::selection {
    background: #E6E7DF;
    color: #2A2A29;
}

/* 파이어폭스 */
::-moz-selection {
    background: #E6E7DF;
    color: #2A2A29;
}

/* //default */

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background-color: #E6E7DF;
    color: #2A2A29;
}

header h1 {
    position: absolute;
    left: -9999px;
}

header nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    width: 100%;

    font-size: 2.4rem;

    display: flex;
    justify-content: space-between;
    gap: 10%;
}

header .navDot {
    position: absolute;
    bottom: 14px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #2A2A29;
}

/* //header */

/* intro */
main #intro {
    width: 100%;
    height: 100vh;
    background-color: #2a2a298c;
    color: #E6E7DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #intro h2 {
    line-height: 150%;
    margin-bottom: 50px;
}

/* //intro */

/* about me */
main #aboutMe .aboutMeWrap{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main #aboutMe .aboutMeWrap .aboutMeLBox {
    flex: 3;
    padding: 50px 0;
}

main #aboutMe .aboutMeWrap .aboutMeRBox {
    flex: 7;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main #aboutMe .aboutMeWrap .aboutMeRBox>p {
    font-size: 2rem;
}

main #aboutMe .aboutMeWrap .aboutMeRBox .aboutList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main #aboutMe .aboutMeWrap .aboutMeRBox .aboutList h5{
    padding: 10px 0;
}

main #aboutMe .aboutMeWrap .aboutMeRBox .aboutList .data{
    padding: 0 15%;
}

main #aboutMe .aboutMeWrap .aboutMeRBox .aboutList .StudyWrap {
    display: flex;
    gap: 10px;
    padding: 0 15%;
}

main #aboutMe .aboutMeWrap .aboutMeRBox .aboutList .StudyWrap .data{
    width: 15%;
    height: auto;
    display: inline-block;
    text-align: center;
    padding: 2px 5px;
    background-color: #E6E7DF;
    color: #2A2A29;
    border-radius: 30px;
}

/* //about me */

/* project */

main #project .articleWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main #project .articleWrap article {
    padding: 20px;
}

main #project .articleWrap article ul {
    display: flex;
    font-size: 1.6rem;
    gap: 10px;
    margin: 20px 0;
}

main #project .articleWrap article ul li {
    min-width: 130px;
    padding: 3px 10px;
    border-radius: 30px;
    background-color: #E6E7DF;
    color: #2A2A29;
    text-align: center;
    align-content: center;
}

main #project .articleWrap article img {
    margin-bottom: 10px;
}

main #project .articleWrap article h5{
    margin: 10px 0;
}

main #project .articleWrap article p{
    margin: 5px 0;
}

main #project .articleWrap article a{
    font-size: 1.6rem;
}

main #project .articleWrap article .implementation{
    margin-top: 15px;
    font-size: 2.0rem;
}

main #project .articleWrap article .contribution{
    font-size: 1.4rem;
}
/* //project */

/* skills */
main #skills {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

main #skills .skillList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

main #skills .skillList li {
    width: 10%;
    height: 50px;
    min-width: 100px;
    padding: 6px 14px;
    background-color: #E6E7DF;
    color: #2A2A29;
    border-radius: 999px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    align-content: center;
}

main #skills .skillList li.active{
    width: 100%;
    transition: 1s Ease-in-out;
}
/* //skills */

/* footer */
footer .footerTitle{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

footer .footerTitle h3{
    margin: 0;
}
/* //footer */